<% if @comment.destroyed? %>
  $("#comment-" + <%= @comment.id %>).hide();
  blocmetrics.report("Comment removed");
<% else %>
  %("#comment-" + <%= @comment.id %>).prepend("<div class='alert alert-danger'><%= flash[:error] %></div>");
<% end %>