<div class="col-md-4 col-sm-6 clearfix inline-block">
  <%= link_to photo do %>
    <% if photo.url? %>
      <%= image_tag(photo.url.small, alt: photo.user.name, class: 'img-rounded img-responsive') %>
    <% else %>
      <img src="http://placehold.it/360x240" alt="Photo" class="img-rounded img-responsive">
    <% end %>
  <% end %>
  <small>
    <% unless photo.category.nil? %>
      <span class="pull-left"><%= link_to photo.category.name.capitalize, photo.category %></span>
    <% end %>
    <span class="pull-right">Photo by: <%= link_to photo.user.name, photo.user %></span>
  </small>
</div>