<div class="row text-color-primary">
  <div class="col-sm-12">
    <h3>Edit Photo</h3>
  </div>
</div>

<div class="row text-color-primary">
  <div class="col-sm-12">
    <div class="panel panel-default">

      <div class="panel-heading">
        <%= image_tag(@photo.url, alt: @photo.name, class: 'img-rounded img-responsive') %>
      </div>

      <div class="panel-body">
        <%= render partial: 'photos/form', locals: { photo: @photo, categories: @categories } %>
      </div>
    </div>
  </div>
</div>