<% if policy(@category).create? %>
  <%= render partial: 'categories/form', locals: { category: @category } %>
<% end %>

<div class="row text-color-primary">
  <div class="col-sm-4">
    <h3>Upload Photo</h3>
  </div>

  <div class="col-sm-8 text-right mtl">
     <%= render partial: 'photos/form', locals: { photo: @photo, categories: @categories } %>
  </div>
</div>

<hr class="mtl">

<div class="row mtl">
  <div class="col-sm-12 upload-preview">
    <!-- Javascript displays photo before upload -->
    <img class="img-rounded img-responsive middle"/>
  </div>
</div>

<script>
  $(function() {
    initPage();
  });

  $(window).bind('page:change', function() {
    initPage();
  });

  function initPage() {
    var preview = $(".upload-preview img");
    
    $("#photo_url").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", image_base64);
       };
       reader.readAsDataURL(file);
    });
  }
</script>