<% if @photo.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <h3>Upload Photo</h3>

    <div class="text-center">
      <div class="panel panel-default">
        <div class="panel-heading upload-preview">
          <img class="img-rounded img-responsive center-block"/>
        </div>
      
        <div class="panel-body">
          <%= render partial: 'photos/form', locals: { photo: @photo, categories: @categories } %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    var preview = $(".upload-preview img");
    
    $("#photo_url").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", image_base64);
       };
       reader.readAsDataURL(file);
    });
  });
</script>
