<div class="row">
  <div class="col-sm-12">
    <h3>Current Challenges</h3>
    <%= render partial: @challenges %>
  </div>  
</div>

<div class="row">
  <div class="col-sm-12">
    <%= will_paginate @categories, renderer: BootstrapPagination::Rails, class: 'pagination-sm' %>
  </div>
</div>