/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery.countdown";

html, body {
  background: #f7f7f7;
}

.max-960 {
  max-width: 960px;
  margin: 0 auto;
}

.navbar {
  background-color: #f7f7f7;
  border: 0;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
}

.greet {
  color: #777;
  padding: 15px;
}

.dropdown-menu {
  background-color: #eee;
}

.mtl {
  margin-top: 20px;
}

.mbm {
  margin-bottom: 10px;
}

hr {
  margin: 0;
  border-top: 1px solid #ddd;
}

.text-color-primary {
  color: #777;
}

.panel {
  margin: 10px 5px;
  display: inline-block;
}

.is-countdown {
  border: 0;
  background-color: #f7f7f7;
}

.fb-share-button {
  vertical-align: top;
}

.favorite {
  font-size: x-large;
  color: #337ab7;
}

span.glyphicon-pencil {
  font-size: small;
}