<div class="row text-color-primary">
  <div class="col-sm-12">
    <h3><%= link_to category.name.capitalize, category %></h3>
    <% photos_array(category.photos) %>
    <% 4.times do %>
      <% if @category_photos.any? %>
        <%= render partial: 'photos/photo', locals: { photo: photo_from_array } %>
      <% end %>
    <% end %>
  </div>
</div>

<hr class="mtl">