<div class="row text-color-primary">
  <div class="col-sm-6">
    <h3>Create A New Category</h3>
  </div>
  <div class="col-sm-6 text-right mtl">
    <%= form_for category, html: { class: 'form-inline' } do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: 'Enter category name' %>
      </div>
      <div class="form-group">
        <%= f.submit "Create", class: 'btn btn-default' %>
      </div>
      
    <% end %>
  </div>
</div>
<hr class="mtl">