<% if policy(@category).create? %>
  <%= render partial: 'categories/form', locals: { category: @category } %>
<% end %>

<%= render partial: @categories %>
<div class="row">
  <div class="col-md-12">
    <%= will_paginate @categories, renderer: BootstrapPagination::Rails, class: 'pagination-sm' %>
  </div>
</div>
