<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @challenge.challenger.user.name %>,</h1>
    <p>
      <%= @challenge.challenged.user.name %> accepts your challenge and is now live. <%= link_to "Click here", challenge_url(id: @challenge.id) %> to view the challenge and remember to share the link!
    </p>
  </body>
</html>